.addBtn {
    background: #2431a7;
    width: 80px;
    height: 35px;
    color: white;
    border-radius: 3px;
    border-width: 0px;
}
.addBtn:hover {
    background: #222b8d;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 350px;
    border-radius: 3px;
    border: 1px solid #90948c;
}
.form input[type="text"] {
    border-width: 0px;
    width: 250px;
}
.form input[type="text"]:focus {
    outline: none;
}